.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 70px;

  background: linear-gradient(
    to right,
    #06090b,
    #335365
  );
box-sizing:border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 35px;
  color: white;

  box-shadow: 0 3px 10px rgba(0,0,0,.15);

  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
   margin-left:20px;
}

.logo-icon {
  font-size: 32px;
}

.logo-text h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}

.nav-right {
  font-size: 18px;
  font-weight: 500;
   margin-right:20px;
}


@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .logo-text h2 {
    font-size: 26px;
  }

  .nav-right {
    font-size: 16px;
  }
}


@media (max-width: 576px) {
  .navbar {
    height: auto;
    padding: 15px;
    flex-direction: column;
    gap: 10px;
  }

  .logo-text h2 {
    font-size: 24px;
  }

  .nav-right {
    font-size: 15px;
    text-align: center;
  }
}